:root {
  --wo-primary: #ff8375;
  --wo-second: #ed7089;
  --wo-navcolor: #405d9d;
  --wo-itemcolor: #7760a6;
  --wo-purple: #a762a5;
}

.home_wrapper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(to right, var(--wo-primary), var(--wo-purple));
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_wrap {
  width: 30%;
  height: 50%;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 10px;
}
